body {
  margin: 0;
  color: #c362ae;
  background-image: url("images/codecat.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Georgia,serif;
}
h1{
    text-align:auto;
}
section{
    margin-top: 8%;
    padding:2em;

}
p
{
    font-size: 16pt;
}
figcaption
{
    color:#78cecb;
}
section.gallery
{
    text-align:center;
}
#content
{
    width: 75%;
    float: right;
    padding: 12px;
}
#header
{
    height: 10%;
    color: #FFFFFF;
    text-align: center;
     padding-left: 20px;
     padding-top: 20px;
    font-family: "Arial";
}

#sidebar
{
    width: 200px;
    float: left;
    
}

img.photo
{
    width:500px;
    height:500px;
}

a {
  color: #8dbd86;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-color: #786ED4;
}

li a {
    font-family: Georgia;
    font-size: 24pt;
    display: block;
    color: #c362ae;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:visited {
    background-color: #4CAF50;
    color: #FFFFFF;
}

li a:hover {
    background-color: #78cecb;
    color: #000000;
}


